POSTGRES_DB=content_service
POSTGRES_USER=content_service
POSTGRES_PASSWORD=content_service
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/content_service?schema=public"
APP_PORT=3000

AUTH_URL=http://host.docker.internal:8080
AUTH_SESSION_RESOLVE_ENDPOINT=/api/v1/resolve
